* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    padding: 1em;
}

#map {
    height: 800px !important;
}

button {
    padding: 0.4em;
    margin: 0.2em;
}

.deactivated-tool-button {
    background-color: rgb(220, 220, 220);
    color: rgb(43, 43, 43);
    border: none;
}

.activated-tool-button {
    background-color: rgb(0, 220, 90);
    color: white;
}

h2 {
    margin-bottom: 0.4em;
}


#container {
    margin-top: 1em;
}

.section {
    padding: 1em;
}

#tool-reminder {
    margin-bottom: 1.5em;
}

#unitConverter {
    background-color: rgb(43, 43, 43);
    width: 50%;
    height: 60%;
    position: absolute;
    display: none;
    top: 20%;
    left: 25%;
    z-index: 999;
    color: white;
    padding: 1em;
    overflow-y: scroll;
}

#closeUnitConverterButton {
    padding: 0.25em;
}

@media only screen and (max-width: 600px) {
    #unitConverter {
        width: 80%;
        height: 70%;
        position: absolute;
        top: 15%;
        left: 5%;
    }
}

#saved {
    padding-top: 1em;
}

#forceUpdate {
    display: none;
}

@media only screen and (max-width: 600px) {
    #forceUpdate {
        display: block;
        margin-top: 1em;
    }

}

#info {
    float: right;
    width: 35%;
}

#tools {
    float: left;
}

#pathOutput {
    float: right;

}

#circleList {
    float: left;
}

#clearCircleButton {
    background-color: black;
    color: aliceblue;
}

#clearMarkerButton {
    background-color: black;
    color: aliceblue;
}

#circleList {
    flex: 1;
    padding: 1em;
}

#pathOutput {
    flex: 1;
    padding: 1em;
}

.gps-marker {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
}

.gps-pulse {
    width: 20px;
    height: 20px;
    background-color: rgba(0, 128, 255, 0.5);
    border: 2px solid #0080ff;
    border-radius: 50%;
    animation: pulse 2s infinite;
    box-sizing: border-box;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        opacity: 1;
    }

    70% {
        transform: scale(1.5);
        opacity: 0;
    }

    100% {
        transform: scale(0.9);
        opacity: 0;
    }
}